@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap');



body {
    font-family: 'Poppins', sans-serif;
    /* padding-inline: 2rem; */    
  }

  #logo{
    background-color: black;
    padding: 3rem;
    color: white;
    text-align: center;
    letter-spacing: 0.7cm;
    font-weight: 200;
}

#signup_title{
    margin-left: 2rem;
    margin-top: 3rem;
    margin-bottom: 0;
}

#signup-redirect-login{
    display: flex;
    gap: 1rem;
    margin-left: 2rem;
    align-items: center;
}

#signup-redirect-login p{
    font-size: 0.7rem;
    margin-top: 0.7rem;    
}

#signup-redirect-login a{
    font-size: 0.7rem;    
    text-decoration: none;       
}





#local-signup_tittle{
    font-size: 0.8rem;
    margin-top: 2rem;
    margin-left: 2rem;
}


#div_form{
    /* padding-top: 2rem; */
    padding-left: 2rem;
}

#form_line{
    margin-bottom: 10px;
    background-color: rgb(224, 224, 224);
    border: none;
    border-radius: 5px;
    font-size: 1rem;
}

#signup_button{
    /* margin-top: 1rem; */
    background-color: black;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
}

#github_button{
    display: flex;
    justify-content: center;
    /* margin: 0 auto; */
    margin-left: 2rem;
    margin-top: 4rem;
    margin-bottom: 6rem;
    background-color: black;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
}